<nav> <a class="cur" href="/{$Think.MODULE_NAME}/Index/healthrecord"> <img class="normal" src="__PUBLIC__/{$Think.MODULE_NAME}/img/icons/nav_01.png" /> <img class="current" src="__PUBLIC__/{$Think.MODULE_NAME}/img/icons/nav_01c.png" />
  <p>健康档案</p>
  </a> <a href="/{$Think.MODULE_NAME}/Index/inquirylist"> <img class="normal" src="__PUBLIC__/{$Think.MODULE_NAME}/img/icons/nav_02.png" /> <img class="current" src="__PUBLIC__/{$Think.MODULE_NAME}/img/icons/nav_02c.png" />
  <p>问诊记录</p>
  </a> <a href="/{$Think.MODULE_NAME}/Index/userinfo"> <img class="normal" src="__PUBLIC__/{$Think.MODULE_NAME}/img/icons/nav_03.png" /> <img class="current" src="__PUBLIC__/{$Think.MODULE_NAME}/img/icons/nav_03c.png" />
  <p>个人中心</p>
  </a> </nav>
<div class="after-nav"></div>