<!DOCTYPE html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>血糖</title>
	<link rel="stylesheet" href="__PUBLIC__/Mobileselfdoctor/css/infoDetail.css" />
</head>

<body>
	<div data-role="content">
		<div data-role="page" id="pageone">
			<div class="bodyDiv">
				<div id="topLoader">
					<label class='titleName'>测量结果</label>
					<span class='xtValue'>{$bloodsugar} <em style="font-size:0.2em;">mmol/L</em></span>
				</div>
				<div id="bodyDiv">
					<p>结果:</p>
					<ul id='reason' class='ulCla'>{$data['conclusion']}</ul>
					<p>原因分析:</p>
					<ul id='reason' class='ulCla'>{$data['reason']}</ul>
					<p>建议:</p>
					<ul id='notice' class='ulCla'>{$data['suggest']}</ul>
				</div>
				<img src="__PUBLIC__/web/image/yuanhuan.jpg" id="aks" alt="" style="display:none">
			</div>
		</div>
	</div>
</body>

</html>
