@charset "utf-8";
/* CSS Document */
body {font:14px / 1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif; margin: 0px; color:#454c50; background:#fff;}
html {font:14px / 1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif; }
form,h1,h3,p,h5,h2,h6,h4,dl,dd,dt {margin: 0px; padding:0;}
ul {margin:0px; padding:0px; list-style-type: none;}
li {margin:0px; padding:0px; display: block;}
img {border: none;}
textarea {font-size:12px;}
.clearfix:after {clear:both; content:"."; display:block; height:0pt; visibility:hidden; overflow:hidden;}
.clearfix{clear:both; height:1px; margin-top:-1px; width:100%; overflow:hidden;}
a:link,a:visited { color: #454c50;	text-decoration: none;}
a:hover { text-decoration: none; color:#fff;}
.fl { float:left;}
.fr { float:right;}

.device-report-box,.device-data-box {width:900px; overflow:hidden; zoom:1; border-bottom:15px solid #25bff7; display:none;}
.report-baseinfo {height:200px; position:relative; background:#25bff7; overflow:hidden;}
.report-baseinfo h1 { font-size:32px; text-align:center; color:#fff; padding:18px 0 0; line-height:60px; font-weight:normal;}
.report-baseinfo p {font-size:14px; line-height:24px; color:#fff; padding:0 0 0 60px;}
.report-baseinfo p span {width:240px; padding:0 50px 0 0; float:left;}
.report-baseinfo p span em { visibility:hidden;}
.report-baseinfo p.big { font-size:16px; padding:0 0 0 60px; font-weight:bold;}
.report-baseinfo p.number { color:#a8e5fc; position:absolute; right:30px; top:12px;}
.report-baseinfo a.downbtn,.report-baseinfo a.printbtn {width:150px; height:30px; text-align:center; line-height:30px; font-size:14px; color:#0084b4; display:block; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; position:absolute; right:30px;transition:all 0.3s linear 0s;}
.report-baseinfo a.downbtn { background:#ecfaff url(/Public/images/report/icons/30x30_xz.png) no-repeat 3px 0; bottom:60px;}
.report-baseinfo a.printbtn { background:#ecfaff url(/Public/images/report/icons/30x30_dy.png) no-repeat 3px 0; bottom:20px;}
.report-baseinfo a.downbtn:hover { background:#fff8d8 url(/Public/images/report/icons/30x30_xz.png) no-repeat 3px 0;transition:all 0.3s linear 0s; box-shadow: 0px 2px 3px #000;}
.report-baseinfo a.printbtn:hover { background:#fff8d8 url(/Public/images/report/icons/30x30_dy.png) no-repeat 3px 0;transition:all 0.3s linear 0s; box-shadow: 0px 2px 3px #000;}

.report-box-module { overflow:hidden; zoom:1; border-left:1px solid #f4f4f4; border-right:1px solid #f4f4f4; padding:20px 30px 60px;}
.report-box-module .title,.data-results-box .title { background:url(/Public/images/report/10x2bg.gif) repeat-x bottom center; height:45px; overflow:hidden;}
.report-box-module .title span,.data-results-box .title span.l {width:150px; height:43px; display:block; float:left; border-bottom:2px solid #25bff7; line-height:43px; font-size:24px;}
.report-box-module .cont,.data-results-box .cont { padding:20px 0 0; overflow:hidden; zoom:1;}
.report-box-module .cont p { font-size:14px; line-height:24px; padding:0 0 20px;}
.report-box-module .great { padding:20px 0 0 60px; overflow:hidden;}
.report-box-module .great span.icon {width:98px; background:url(/Public/images/report/iconfont-aixin.png) no-repeat; height:98px; float:left; padding:0 20px 0 0;}
.report-box-module .great p { font-size:14px; overflow:hidden; line-height:30px;}
.report-box-module .great p.big { font-size:24px; padding:10px 0;}
.report-box-module .great p.big span { font-size:30px; color:#abdd34; padding:0 0 0 10px;}

.device-data-box { border:0;}
.device-data-box .data-baseinfo {padding:20px 0 20px 20px; overflow:hidden; background:#fffdde; position:relative;}
.data-baseinfo p { font-size:18px; color:#fe9c27; line-height:30px; }
.data-baseinfo p span { font-size:14px; padding:0 0 0 10px;}
.data-baseinfo p span em { font-size:18px; font-style:normal;}
.data-baseinfo a.tosee { position:absolute; right:25px; top:20px; width:135px; height:30px; text-align:center; margin:20px 25px 0 0; display:block; line-height:30px; font-size:14px; color:#25bff7; background:#fff;transition:all 0.3s linear 0s;box-shadow: 0px 1px 0px #aaa; }
.one a.tosee { top:2px;}
.data-baseinfo a.tosee:hover {transition:all 0.3s linear 0s; box-shadow: 0px 2px 3px #000;}
.data-box-module { overflow:hidden; zoom:1; background:#e2f7ff; padding:25px 15px;}
.data-results-box { overflow:hidden; zoom:1; background:#fff; padding:10px 15px 20px; box-shadow:0 1px 2px #444;}
.data-results-box .title span.l {width:400px; float:left;}
.data-results-box .title span.time { font-size:14px; line-height:30px; padding:15px 0 0; float:right;}

.reference-results,.reference-suggestion { margin:25px 0 0; background:#fff; height:160px; padding:10px 15px 40px;box-shadow:0 1px 2px #444;}
.reference-results h2,.reference-suggestion h2 {font-size:18px; line-height:40px; padding:0 0 10px;}
.reference-results .cont,.reference-suggestion .cont { overflow-y:scroll; height:130px; zoom:1;}
.reference-results .cont p,.reference-suggestion .cont p { font-size:14px; line-height:24px; padding:0 0 0 8px;}
.reference-results .cont p { background:url(/Public/images/report/50x50_green.png) no-repeat 8px 0; padding:0 0 0 68px; line-height:50px;}
.reference-results .cont p.abnormal {background:url(/Public/images/report/50x50_red.png) no-repeat 8px 0; color:#ff0000;}
.reference-results {width:340px; float:left;}
.reference-suggestion {width:455px; float:right;}
.data-box-record { overflow:hidden; zoom:1; margin:40px 0;}
.data-box-record .title { overflow:hidden; zoom:1; padding:0 0 10px;}
.data-box-record .title span { background:url(/Public/images/report/6x19.png) no-repeat 6px 3px; padding:0 0 0 20px; font-size:18px; line-height:24px;}
.recordtable th,.recordtable td { font-size:14px; line-height:40px; text-align:center; border-bottom:1px solid #f4f4f4;}
.recordtable th { font-weight:normal; background:#f4f4f4; border-left:1px solid #fff;}
.recordtable th.first { border:0;}
.recordtable { border-top:1px solid #f4f4f4; border-left:1px solid #f4f4f4; border-right:1px solid #f4f4f4;}
.recordtable tr.even { background:#f4f4f4;}
.recordtable tr.hover { background:#fffdbf;transition:all 0.3s linear 0s;transform:translateZ(10); border:1px solid #000;}
.recordtable td a:hover { color:#454c50;}
.data-results-box .ewenbox,.blood-glucose-box { background:url(/Public/images/report/50x110_01.png) no-repeat; margin:20px 0 20px 270px; height:110px; padding:0 0 0 70px; overflow:hidden;}
.data-results-box .ewenbox p,.blood-glucose-box p { font-size:16px; line-height:30px; font-family:Verdana, Geneva, sans-serif;}
.data-results-box .ewenbox p.big,.blood-glucose-box p.big { font-size:48px; line-height:70px; color:#abdd34;}
.data-results-box .ewen-abnormal {background:url(/Public/images/report/50x110_02.png) no-repeat;}
.data-results-box .ewen-abnormal p.big { color:#ff0000;}
.resulttable { width:100%; border:1px solid #f4f4f4; border-right:0; border-bottom:0;}
.resulttable th,.resulttable td { line-height:40px; text-align:center; font-size:14px; border-right:1px solid #f4f4f4; border-bottom:1px solid #f4f4f4;}
.resulttable th { background:#fff;}
.resulttable td em {width:20px; height:20px; display:inline-block;}
.resulttable td em img { position:relative; top:3px; left:10px;}
.data-box-module .cont-lbox { float:left; width:500px;}
.cont-lbox h3 { font-size:16px; line-height:30px;}
.cont-lbox .items { overflow:hidden; zoom:1; width:140px; float:left;}
.cont-lbox .items li a {width:120px; line-height:40px; text-align:center; font-size:14px; float:left; border:1px solid #f4f4f4; margin:0 1px 1px 0;transition:all 0.3s linear 0s;}
.cont-lbox .items li a:hover {background:#25bff7; color:#fff; transition:all 0.3s linear 0s; transform:translateX(10px);}
.cont-lbox .items li a.current {background:#25bff7; color:#fff;}
.cont-lbox .items li a.current:hover {transform:translateX(0);}
.cont-lbox .items-property { overflow:hidden; zoom:1;}
.cont-lbox .items-property div { height:320px; line-height:24px; font-size:14px; padding:10px; border:1px solid #f4f4f4; overflow-y:scroll; display:none;}
.cont-lbox .elevenitems div { height:440px;}
.cont-lbox .blood-lipid div {height:160px;}


.messagebox { border:1px solid #f4f4f4; overflow:hidden; zoom:1;}
.messagebox h2 { font-size:18px; line-height:40px; padding:20px 0 10px 20px; font-weight:normal; overflow:hidden; zoom:1;}
.message-title { clear:both; padding:0 0 8px 20px;}
.message-title li { float:left; line-height:24px; padding:0 20px; margin:0 20px 0 0; border:1px solid #e1e1e1; font-size:14px; float:left; position:relative; cursor:pointer;}
.message-title li.current { color:#fff; background:#69d0f6; border:1px solid #69d0f6;}
.message-title li em { display:none; width:20px; height:20px; font-style:normal; text-align:center; line-height:20px; font-size:10px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; background:#f60700; color:#fff; position:absolute; right:-5px; top:-8px;}
.message-title li.new em { display:block;}
.message-module { display:none; overflow:hidden; zoom:1;}
.messagelist { overflow:hidden; zoom:1; margin:20px 0;}
.messagelist li h3{ overflow:hidden; font-size:14px; font-weight:normal; padding:5px 20px; line-height:24px;}
.messagelist li h3.odd { background:#f4f4f4;}
.messagelist li .message-detail { display:none; margin:12px 20px; border:1px solid #e1e1e1; position:relative; padding:20px 30px; line-height:24px; font-size:14px;border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.messagelist li.show .message-detail { display:block;}
.messagelist li.show h3 { padding:0 20px; background:#fff;}
.messagelist li .message-detail em { background:url(/Public/images/report/16x12arrow.png) no-repeat; width:16px; height:12px; position:absolute; left:60px; top:-12px;}

.data-report .bannerbox {width:1200px; height:320px; background:url(/Public/images/report/1200x320bg.jpg) no-repeat; position:relative;}
.data-report .bannerbox h1 { font-family:"微软雅黑"; font-size:36px; line-height:45px; font-weight:normal; position:absolute; right:187px; top:80px; color:#07467b;}
.data-report .bannerbox h1 span,.data-report .bannerbox h2 span { font-weight:bold;}
.data-report .bannerbox h2 { font-family:"微软雅黑"; font-size:36px; line-height:45px; font-weight:normal; position:absolute; right:187px; top:125px; color:#07467b;}
.data-report .bannerbox .btns { position:absolute; bottom:70px; right:187px; text-align:right;}
.data-report .bannerbox .btns a { background:url(/Public/images/report/144x43btn.png) no-repeat; width:144px; height:43px; float:left; display:block; margin:0 0 0 30px; text-align:center; font-size:18px; line-height:43px; color:#fff; opacity:0.8;}
.data-report .bannerbox .btns a:hover { opacity:1;}
.data-report h2.kbtitle { background:#009ed8 url(/Public/images/report/700x75.jpg) no-repeat center top; margin:6px 0 20px; width:1200px; height:72px; font-size:0;}
.data-report .itemsbox { overflow:hidden; zoom:1;}
.itemsbox .title { overflow:hidden; zoom:1;}
.itemsbox .title li {width:134px; border:1px solid #c0eeff; height:38px; text-align:center; font-size:16px; line-height:38px; color:#25bff7; float:left; margin: 6px 0 6px 16px; cursor:pointer;}
.itemsbox .title li.first { margin:6px 0;}
.itemsbox .title li.current { background:#454c50; border:1px solid #454c50; color:#fff;}
.itemsbox .items { display:none;}
.itemsbox .items div {width:1200px; height:290px; position:relative;}
.itemsbox .items .i1 {background:url(/Public/images/report/1200x290_01.jpg) no-repeat;}
.itemsbox .items .i1 h3,.itemsbox .items .i1 p { position:absolute; left:745px; }
.itemsbox .items .i1 h3 { top:50px; font-size:24px; color:#6e4f29; font-weight:normal; }
.itemsbox .items div p { font-size:14px; line-height:25px; color:#b8904b; position:absolute;}
.itemsbox .items .i1 p { top:92px;}
.itemsbox .items .i2 p { top:70px; left:828px; width:300px;}
.itemsbox .items .i3 p { top:60px; left:455px; width:300px;}
.itemsbox .items .i4 p { top:70px; left:695px; width:300px;}
.itemsbox .items .i5 p { top:75px; left:720px; width:320px;}
.itemsbox .items .i5 p span { height:25px; margin:10px 10px 0 0; padding:0 10px; background:#d4f1cd; color:#558f4c; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; line-height:25px; display:inline-block;}
.itemsbox .items .i6 p { top:80px; left:665px; width:280px;}
.itemsbox .items .i7 p { top:70px; left:770px; width:300px;}
.itemsbox .items .i8 p { top:60px; left:700px; width:300px;}

.itemsbox .items .i2 {background:url(/Public/images/report/1200x290_02.jpg) no-repeat;}
.itemsbox .items .i3 {background:url(/Public/images/report/1200x290_03.jpg) no-repeat;}
.itemsbox .items .i4 {background:url(/Public/images/report/1200x290_04.jpg) no-repeat;}
.itemsbox .items .i5 {background:url(/Public/images/report/1200x290_05.jpg) no-repeat;}
.itemsbox .items .i6 {background:url(/Public/images/report/1200x290_06.jpg) no-repeat;}
.itemsbox .items .i7 {background:url(/Public/images/report/1200x290_07.jpg) no-repeat;}
.itemsbox .items .i8 {background:url(/Public/images/report/1200x290_08.jpg) no-repeat;}

.main2 .device-report-box { margin:20px 0;}
.main2 .device-report-box, .main2 .device-report-box .report-baseinfo {width:1200px;}
.main2 .report-baseinfo .tip { font-size:24px; font-weight:bold; border:5px solid #fff; background:#25bff7; color:#fff; position:absolute; top:20px; right:-10px; padding:10px 20px; display:block; transform: rotate(25deg);}
.main2 .report-box-module .cont .neititle { margin:40px 0 10px; font-size:18px; line-height:30px; overflow:hidden;}
.main2 .report-box-module .cont .neititle span { padding:0 0 0 40px;}



/*体检报告修改*/
.report-box-module .cont .tips { background:#fffdde; line-height:40px; padding: 0 10px; font-size:16px; margin:0 0 10px; position:relative; top:-20px;}
.report-box-module .cont .tips span { color:#fe9c27;}
.exception-results li { float:left; position:relative; border:2px solid #d6d8d9; margin:15px 5px 15px 17px; width:244px; height:150px; display:block; cursor:pointer;}
.exception-results li span.icon {width:46px; height:46px; text-align:center; background:#ddd url(/Public/images/report/9x34.png) no-repeat center center; padding:6px 0; display:block; position:absolute; left:-17px; top:-17px;border-radius:23px; -moz-border-radius:23px; -webkit-border-radius:23px;  }
.exception-results li.cur { border:2px solid #454c50; border-bottom:4px solid #454c50; z-index:99; background:#fff;}
.exception-results li.cur span.icon{ background:#ff6732 url(/Public/images/report/9x34.png) no-repeat center center;}
.exception-results li h4 { font-size:18px; position:absolute; left:20px; top:30px; font-weight:normal;}
.exception-results li p { font-size:18px; color:#fe9c27; position:absolute; left:20px; top:60px;}
.exception-results li p span { font-size:22px; font-family:Verdana, Geneva, sans-serif;}
.exception-results li p em.up { background:url(/Public/images/report/36x57up.png) no-repeat; width:36px; height:57px; display:inline-block; position:relative; bottom:-2px;}
.exception-results li p em.down { background:url(/Public/images/report/36x57down.png) no-repeat; width:36px; height:57px; display:inline-block; position:relative; bottom:-2px;}

.result-analysis { display:block; position:relative; border:1px solid #ddd; background:#f4f4f4; padding:30px;}
.result-analysis > span { background:url(/Public/images/report/23x11.png) no-repeat; position:absolute; top:-11px; left:50px; width:23px; height:11px; display:none;}
.result-analysis > a.x { background:url(/Public/images/report/x.png) no-repeat; width:28px; height:28px; display:none; overflow:hidden; position:absolute; right:10px; top:10px; font-size:0;}
.result-analysis .result-analysis-box { overflow:hidden; zoom:1; margin:0 0 30px;}
.result-analysis.zindex{ z-index:99;}
.result-analysis.zindex > a.x,.result-analysis.zindex > span { display:block;}
.result-analysis-box h2 { font-size:24px; font-weight:normal; padding:0 0 20px;}
.result-analysis-box h2 span { color:#fe9c27; font-size:18px;}
.result-analysis-box h2 img {width:18px; margin:0 5px;}
.result-analysis-box h2 em { font-size:18px; font-style:normal;} 
.result-analysis-box h3 { font-size:18px; font-weight:normal; padding:0 0 10px;}
.result-analysis-box .words { margin:0 0 20px;}
.result-analysis-box .words p { font-size:14px; line-height:24px; color:#7f7f7f; padding:0;}
.risk-prediction { overflow:hidden; zoom:1; background:url(/Public/images/report/246x574bg.jpg) no-repeat left top; padding:0 0 0 250px;}
.risk-prediction ul li { background:url(/Public/images/report/556x10bg.png) repeat-y; width:556px; min-height:140px; height:auto !important; clear:both;}
.risk-prediction ul li .botbg {width:556px; height:60px; background:url(/Public/images/report/556x60bot.png) no-repeat; overflow:hidden;}
.risk-prediction ul li h3 { font-size:18px; font-weight:normal; color:#fe9c27; padding:10px 0 0 75px;}
.risk-prediction ul li h3 span { color:#454c50; padding:0 5px 0 0;}
.report-box-module .cont .risk-prediction ul li > p { font-size:14px; line-height:24px; color:#7f7f7f; padding:5px 20px 0 75px;}
.report-box-module .cont .tip-info { font-size:14px; line-height:24px;color:#7f7f7f;}
.report-box-module .cont .tip-info span { color:#454c50;}
.report-box-module .cont .yellow { background:#fffdde; line-height:40px; color:#fe9c27; margin:10px 0 0;}
.reference-suggestion2 {}
.reference-suggestion2 ul {width:170px; padding:40px 0; background:#f4f4f4; float:left;}
.reference-suggestion2 li { line-height:48px; border-right:4px solid #f4f4f4; text-align:right; padding:0 16px 0 0; font-size:16px; clear:both; display:block;}
.reference-suggestion2 li.cur { border-right:4px solid #25bff7; color:#25bff7;}
.reference-suggestion2-box { display:none; width:800px; float:left; margin:0; background:url(/Public/images/report/250x140bg.jpg) no-repeat 60px top;}
.reference-suggestion2-box img { margin:10px 0 30px 120px;}
.reference-suggestion2-box .dotline { background:url(/Public/images/report/7x1dot.gif) repeat-x bottom center; overflow:hidden; height:1px;}
.reference-suggestion2-box h4 { color:#fff; line-height:30px; background:#25bff7; font-size:16px; float:left; clear:both; padding:0 20px; margin:20px 0;}
.reference-suggestion2-box .words { clear:both;}
.reference-suggestion2-box .words p { font-size:14px; line-height:24px; color:#7f7f7f;}
.about-statement .title { border-top:1px solid #94e2ff; text-align:center; background:none; padding:20px 0 0; height:20px; overflow:visible; position:relative;}
.about-statement .title span { width:260px; height:38px; margin:0 0 20px; border:0; padding:0 40px; font-size:18px; color:#fff; background:#94e2ff; line-height:38px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; position:absolute; top:0; left:270px;}
.about-statement .cont p { padding:0 0 10px;}




.analysisbox .docinfo {overflow:hidden; zoom:1; color:#a1a1a1; font-size:16px; line-height:48px; height:48px; background:#fff; padding:0 20px;}
.analysisbox .cont { background:#f3f6ff; border:1px solid #ecf0fb; margin:10px 0; position:relative; padding:10px 20px; line-height:24px; font-size:16px; color:#57585b;}
.analysisbox .cont em { position:absolute; top:-10px; left:35px; width:20px; height:10px; background:url(../images/20x10arrowup.jpg) no-repeat; display:block;}
.analysisbox .docinfo span em { color:#4c4d4f; font-style:normal; padding:0 10px;}
.analysisbox .docinfo i.time { background:url(../images/17x17.png) no-repeat 8px 16px; width:30px; height:48px; margin:0; float:left;}

