<include file="Oauthmanage@Public:header" />
<!--列表展示-->
<div class="main-container" id="main-container">
	<script type="text/javascript">
		try{ace.settings.check('main-container' , 'fixed')}catch(e){}
	</script>
	<div class="main-container-inner">
		<a class="menu-toggler" id="menu-toggler" href="#">
			<span class="menu-text"></span>
		</a>
		<include file="Oauthmanage@Public:lside" />
		
		<div class="main-content">
			<div class="page-content">
				<div class="page-header">
					<h1>
						<i class="icon-bar-chart"></i>
						数据统计
					</h1>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<!-- PAGE CONTENT BEGINS -->
						<div class="row" id="prinDiv">
							<div class="col-xs-12">
								<div class="table-responsive">

									<div class="alert alert-info">
										<p>
                                            CLIENT_ID：{$client.client_id}
                                        </p>

										<p>
										  名称：{$client.title}
                                        </p>
                                        <p>
                                            <a class="btn btn-xs btn-info" href="/oauthmanage/chart/category/id/{$client.id}">各接口当天访问统计</a>

                                            <a class="btn btn-xs btn-info" href="/oauthmanage/chart/category/id/{$client.id}/type/1">各接口全部访问统计</a>

                                            <a class="btn btn-xs btn-info" href="/oauthmanage/chart/visitimes/id/{$client.id}">每天总访问数据统计</a>
                                        </p>
									</div>
									
									<div class="row">
										<div id="activation" class="col-sm-11" style='height:300px;'></div>
									</div>
									 
								</div><!-- /.table-responsive -->

								

							</div><!-- /span -->
						</div><!-- /row -->
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.page-content -->
		</div><!-- /.main-content -->
	</div><!-- /.main-container-inner -->

	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
		<i class="icon-double-angle-up icon-only bigger-110"></i>
	</a>
</div>

<include file="Oauthmanage@Public:basicscripts" />
<script src="__PUBLIC__/js/hightcharts.js"></script>


<script>
$(function(){
	var supplies = new Highcharts.Chart({
        chart: {
        	renderTo: 'activation',
            type: 'column'
        },
        title: {
            text: '{$title}'
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: '访问次数'
            }
        },
        tooltip: {
            pointFormat: '访问次数：<b> {point.y} 次</b>'
        },
        legend: {
            enabled: false
        },
        series: [{
            data: [
                ['用户池', {$data.Index}],
                ['网络医院', {$data.Yc}]
            ],
            dataLabels: {
                enabled: true,
                rotation: 0,
                color: '#FFFFFF',
                align: 'center',
                format: '{point.y}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });
});

</script>

<include file="Oauthmanage@Public:footer" />