<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="__PUBLIC__/Ios/style/flexible.css" />
		<script src="__PUBLIC__/Ios/style/flexible.js"></script>
		<title>检测报告</title>
		<link href="__PUBLIC__/Ios/style/font-awesome/css/font-awesome.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" href="__PUBLIC__/Ios/style/health.css" />

	</head>

	<body>
		<div class="main">
			<div class="reportbox">
				<h2>未获取到分析结果</h2>
			</div>
		</div>
<!--main end--> 
</body>
</html>
