<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Oauth管理系统</title>
		<meta name="keywords" content="Oauth管理系统" />
		<meta name="description" content="Oauth管理系统" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link href="__PUBLIC__/bs/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__PUBLIC__/bs/css/font-awesome.min.css" />



		<link rel="stylesheet" href="__PUBLIC__/bs/css/ace.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/bs/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/bs/css/ace-skins.min.css" />

		<script src="__PUBLIC__/bs/js/ace-extra.min.js"></script>
		<script src="__PUBLIC__/bs/js/jquery-1.10.2.min.js"></script>
		<style type="text/css" media=print>
			#noprint{
				display : none
			}
			#nomore{
				display : none
			}
		</style>
	</head>
	<body>
	<div class="navbar navbar-default" id="navbar">
		<script type="text/javascript">
			try{ace.settings.check('navbar' , 'fixed')}catch(e){}
		</script>

		<div class="navbar-container" id="navbar-container">
			<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand">
						<small>
							<i class="icon-leaf"></i>
							OAuth管理系统
						</small>
					</a><!-- /.brand -->
				</div><!-- /.navbar-header -->
			<div class="navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">
						<li class="light-blue">
							<a href="#">{$username}&nbsp;，&nbsp;&nbsp;&nbsp;欢迎您！ </a>
						</li>

						<li class="light-blue">
							<a href="/oauthmanage/Public/logout">
								<i class="icon-off"></i>
								退出
							</a>

						</li>
					</ul><!-- /.ace-nav -->
				</div><!-- /.navbar-header -->

		</div><!-- /.container -->
	</div>
