<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Oauth管理系统</title>
<link href="__PUBLIC__/bs/loginnew/style/login.css" rel="stylesheet" type="text/css">
</head>

<body class="login">
<div class="wrap">
	<div class="container">
    	<div class="top">
    		<img src="__PUBLIC__/bs/loginnew/img/logos.png" alt="怡成网络医院CRM系统" / >
    	</div>

        <div class="main">
        	<div class="summary">
            	<h1>什么是怡成网络医院OAuth管理系统？</h1>
                <p>OAuth管理系统</p>
            </div><!--summary end-->
            <div class="formbox">
                <p>
                	<span class="s1">输入登录信息</span>
                	<span>
                		<input type="text" class="inputx username" placeholder="用户名" id='username' autocomplete="off"/>
                	</span>

                	<span>
                		<input type="password" class="inputx password" placeholder="密 码" id='password' autocomplete="off"/>
                	</span>

                	<span>
                		<input type="checkbox" checked value="1" id="remember" /> 记住我
                	</span>

                	<span>
                		<input type="submit" value="登录" class="subbtn" id="login-button"/>
                	</span>
                </p>
                <p class="tips"></p>
            </div><!--formbox end-->
            <div class="hotline"><span>7*24咨询电话：</span>400-650-9809</div>
        </div><!--main end-->
        <div class="footer"><p>Copyright &copy; 2005-2017北京怡成生物电子技术股份有限公司 版权所有</p></div>
    </div><!--container end-->

    <script src="__PUBLIC__/bs/js/jquery-1.10.2.min.js"></script>

		<script>
			$(function(){
				$(document).keyup(function(e){
				    if(e.keyCode == 13){
				        //模拟点击登陆按钮，触发上面的 Click 事件
				        $("#login-button").click();
				    }
				});

				$("#login-button").click(function(){
					var username = $("#username").val();
					var password = $("#password").val();
					var remember = $("#remember").val();

					if( !username ){
						$('.tips').html('用户名不能为空')
						return false;
					}
					if( !password ){
						$('.tips').html('密码不能为空')
						return false;
					}

					$.ajax({ 
				       type: "post", 
				       url: "/oauthmanage/public/checkUser",
				       data:{username:username,password:password,remember:remember},
				       cache:false,  
				       dataType:'json', 
				       success: function(data){
				       		if(data==201){
				       			$('.tips').html('药店不存在')
				       			return false;
				       		}else if(data==202){
				       			$('.tips').html('密码错误！')
				       		}else{
				       			var order="/oauthmanage";
								window.location.href=order;
				       		}	
				        } 
					});
				})

				$('#username').focus(function(){
					$('.tips').html('');
				})
				$('#password').focus(function(){
					$('.tips').html('');
				})
			})
			
		</script>

</div><!--wrap end-->
</body>
</html>
