
<div class="sidebar" id="sidebar">
	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
	</script>

	<ul class="nav nav-list">
		<li class="<if condition="strtolower(MODULE_NAME) eq 'home' ">active</if>">
			<a href="/oauthmanage">
				<i class=" icon-home "></i>
				<span class="menu-text"> 首页 </span>
			</a>
		</li>

		<li class="<if condition="(strtolower(CONTROLLER_NAME) eq 'apply' )">active</if>">
			<a href="/oauthmanage/apply">
				<i class="icon-desktop"></i>
				<span class="menu-text"> 应用管理 </span>
			</a>
		</li>

		<li class="<if condition="(strtolower(CONTROLLER_NAME) eq 'logs' )">active</if>">
			<a href="/oauthmanage/logs">
				<i class="icon-edit"></i>
				<span class="menu-text"> 访问日志 </span>
			</a>
		</li>

		<li class="<if condition="(strtolower(CONTROLLER_NAME) eq 'chart' )">active</if>">
			<a href="/oauthmanage/chart">
				<i class="icon-bar-chart"></i>
				<span class="menu-text"> 数据统计 </span>
			</a>
		</li>
	</ul><!-- /.nav-list -->


	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
	</div>

	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
	</script>
</div>

